<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/static/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <div class="container text-center">
        <div class="mb-2">Добавить пользователя</div>
        <span th:text="${message}" class="text-danger">Текст</span>
        <div th:if="${param.error}">
            Неверный логин или пароль.
        </div>
        <div th:if="${param.logout}">
            Вы вышли из аккаунта.
        </div>
        <form th:action="@{/registration}" method="post" class="d-flex flex-column align-items-center">
            <div class="mb-3 col-sm-5">
                <input type="text" name="username" class="form-control"
                       placeholder="Имя Пользователя"
                       th:value="${user != null ? user.username : ''}"
                       required/>
            </div>
            <div class="mb-3 col-sm-5">
                <input type="password" name="password" class="form-control"
                       placeholder="Пароль"
                       required/>
            </div>
            <div class="mb-3 col-sm-5">
                <input type="email" name="email" class="form-control"
                       placeholder="Email"
                       th:value="${user != null ? user.email : ''}"
                       required/>
            </div>
            <div class="mb-3 col-sm-5">
                <input type="tel" name="number" class="form-control"
                       placeholder="Телефон"
                       pattern="[0-9]{1,11}"
                       maxlength="11"
                       inputmode="numeric"
                       title="От 1 до 11 цифр"
                       th:value="${user != null ? user.number : ''}"
                       required/>
            </div>
            <div><input type="submit" class="btn btn-danger" value="Регистрация"/> 
                <a href="/login">Назад</a>
            </div>
        </form>
        </div>
    </body>
</html>
