<th:block xmlns:th="http://www.thymeleaf.org" 
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="pager">
  <div class="my-3">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Страницы</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(1, page.getTotalPages)}">
      <a class="page-link" th:href="${url} + '?page=' + ${i-1} + '&size=30' " 
       th:text="${i}"
        th:classappend="${i-1 == page.getNumber} ? 'disabled' : ''"></a>
</li>
  </div>
</th:block>